<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AtomicShift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3F6DE7F81EA6658D00D0EE75</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F6DE8121EA6658E00D0EE75</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F6DE81D1EA6658E00D0EE75</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
